/*p {
  border: solid;
}*/

td {
  border: solid;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Merriweather', serif;
}

p {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  margin-bottom: 0px;
}
