/*p {
  border: solid;
}*/
table {
  border-collapse: collapse;
}

td {
  border: solid;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Merriweather', serif;
}

p {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  margin-bottom: 0px;
}

/*
this can turn a tag through css into a block element
label{
  display: block;
}*/
